{% extends '../base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="content">                      

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</form>

<div role="main" class="main">

    <section class="">
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="col p-static">
            <span class=""></span><h1 data-title-border="">Inicio de sesión</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">

      <div class="row">
        <div class="col">

          <div class="featured-boxes">
            <div class="row">
              <div class="col-md-6">
                <div class="featured-box featured-box-primary text-left mt-5" style="height: 368.188px;">
                  <div class="box-content">

                      <form method="post">
                          {% csrf_token %}
                      <div class="form-row">
                        <div class="form-group col">
                          <label class="font-weight-bold text-dark text-2">Usuario:</label>
                          <input type="text"  name="username" class="form-control form-control-lg" required="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                          
                          <label class="font-weight-bold text-dark text-2">Contraseña:</label>
                          <input type="password" name="password" class="form-control form-control-lg" required="">
                          <a class="float-right" href="/accounts/password_reset/">(Olvidé mi contraseña?)</a>
                        </div>
                      </div>
                      <select name="beneficio" id="" class="form-control">
                        {%for x in beneficio_list%}
                        <option value="{{x.pk}}">{{x.nombre}}</option>
                        
                        {%endfor%}
                        <option value="admin">Admin</option>
                      
                      </select>
                      <div class="form-row">
                        <div class="form-group col-lg-6">

                        </div>
                        {% if error %}
                 
                        <div class="alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>

                            <p class="text">{{ error }}</p>

                        </div>
                        {% endif %}

                        <div class="form-group col-lg-6">
                            <p>Aun no tengo cuenta, deseo <a href="/registration/">Registrarme</a></p>
                        </div>


          
                        <div class="form-group col-lg-6">
                            <button type="submit" class="btn btn-primary btn-modern float-right">Iniciar sesión</button>

                        </div>
                        <br>
                        
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <img src="{% static 'splash_login.jpg'%}" alt="">
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  </div>
  </div>
  </div>
  </div>

{% endblock %}