{% extends '../base.html' %}
{% load i18n %}
{% block content %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container space">
  <h3>Olvidé mi contraseña</h3>
  <p>Queremos que te sientas seguro. Como olvidaste tu contraseña, te enviaremos un código de verificación y validaremos tu identidad para que puedas recuperarla.</p>
  <p>Completa los siguientes datos:</p>    
  <form method="post">{% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
        </div><br>
        <div class="g-recaptcha" data-sitekey="6LeP3KwUAAAAAOUwO4EIncW4rELmaFCDJM6Wo-Er"></div>
        <br><input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
    
                  
            
           
    
    </form>
    </div>

    <script>
            function miFuncion() {
                var response = grecaptcha.getResponse();
                var x = document.getElementById("myDIV");
                if(response.length == 0){
                    alert("Captcha no verificado");
                    event.preventDefault();
          
                    return false;
          
                } else {
          
          
                }
            }
          </script>
{% endblock %}