{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'LogoUnimag.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title %}{% endblock title %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/83f37c6c82.js"></script>
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" style="overflow: scroll;" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        {%if user.username%}
      <h5 class="simple-text logo-normal badge badge-info" style="text-align: center">Módulo: {{request.session.modulo}} {%if user.is_superuser%} Admin {%endif%} </h5>
         {%endif%}
        <a href="/" class="simple-text logo">
         <img src="{% static 'escudo.png' %}" alt="">
        </a>
        <a href="/" class="simple-text logo-normal">BU Software v 0.1  </a>

      </div>


      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            {% if request.session.modulo == 'estudiante'%}

            {% else %}

          {% if not user.username %}
          <li {%if request.path == '/accounts/login/' %} class="active" {%endif%}>
            <a href="/accounts/login/">
             <i class="fas fa-sign-in-alt"></i>

              <p>Iniciar Sesión</p>
            </a>
          </li>

         

          {%if user.is_superuser %}
           <li {%if request.path == '/registro/' %} class="active"{%endif%}>
            <a href="/registro/">
              <i class="fas fa-user-edit"></i>
              <p>Registrarse</p>
            </a>
          </li>
          {%endif%}
          <!-- <li {%if request.path == '/convocatoria/' %} class="active" {%endif%}>
              <a href="/convocatoria/">
                <i class="far fa-address-book"></i>
                <p>Convocatoria</p>
              </a>
            </li> -->
          {%else%}
            <li {%if request.path == '/perfil/' %} class="active" {%endif%}>
            <a href="/perfil/">
              <i class="fas fa-user"></i>
              <p>Perfil de usuario</p>
            </a>
          </li>
          {%if user.is_superuser %}
           <li {%if request.path == '/registro/' %} class="active" {%endif%}>
            <a href="/registro/">
              <i class="fas fa-user-plus"></i>
              <p>Registro de personal</p>
            </a>
          </li>
          {%endif%}
          <li {%if request.path == '/mostrar_pedido/' %} class="active" {%endif%}>
            <a href="/mostrar_pedido/">
              <i class="fas fa-eye"></i>
              <p>Mostrar pedido</p>
            </a>
          </li>
           <li {%if request.path == '/entrega/' %} class="active" {%endif%}>
            <a href="/entrega/">
              <i class="fas fa-cart-arrow-down"></i>
              <p>Entrega de beneficio</p>
            </a>
          </li>
          <li {%if request.path == '/estudiantes_registrados/' %} class="active" {%endif%}>
            <a href="/estudiantes_registrados/">
              <i class="fas fa-user-cog"></i>
              <p>Estudiantes Registrados</p>
            </a>
          </li>
          {%endif%}
          {% if user.username %}
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons arrows-1_cloud-download-93"></i>
              <p>{{user.username}}</p>
            </a>
          </li>
          {%endif%}
          {%endif%}

          <li {%if request.path == '/beneficiario/' %} class="active" {%endif%}>
            <a href="/beneficiario/">
              <i class="fas fa-user-cog"></i>
              <p>Beneficiario</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!--Comienzo!-->
            <form id="myForm" action="/entrega/">{%csrf_token%}
              <div class="input-group no-border">
                <input type="text" value="" name="busqueda" class="form-control" placeholder="Buscar">
                <div class="input-group-append" onclick="myForm.submit();">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
<!--AQUI!-->
            {% if not user.username %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fas fa-user"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Opciones</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Iniciar sesión</a>
                  {%if user.is_superuser %}
                  <a class="dropdown-item" href="#">Registrarse</a>
                  <a class="dropdown-item" href="#">Convocatoria</a>
                  {%endif%}
                </div>
              </li>
            </ul>
            {%else%}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  <p>
                       {{user.first_name|upper}} {{user.last_name|upper}}

                    <span class="d-lg-none d-md-block">Opciones</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  
                  <a class="dropdown-item" href="/accounts/logout/">Cerrar sesión</a>
                </div>
              </li>
            </ul>
            {%endif%}
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
       <div class="panel-header panel-header-sm">

      </div>



                {% block content%}
                {%endblock%}
            


      
    </div>
  </div>
  <!--   Core JS Files   -->

  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->

  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <!--<script src="{% static 'assets/demo/demo.js' %}"></script>-->

</body>

</html>
