{% extends 'base.html' %}
{% load static %}
{% block title %}Registro Preseleccionados{% endblock title %}

{% block content %}

 <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Lista de Beneficiados</h5>
              </div>
              <div class="card-body">


           
        <table class="table" style="width:100%">
       <thead>
          <tr>
        
             <th>Código</th>
             <th>Nombre</th>
             <th>carrera</th>
             <th>Estrato</th>
             <th>Tipo de beneficio</th>
             <th>Fecha inscripcion</th>
          </tr>
       </thead>
       <tbody>
           {% for x in beneficiario %}
           <tr>
               
               <td>{{x.estudiante.user.username}}</td>
               <td>{{x.estudiante.user.last_name|upper}} {{x.estudiante.user.first_name|upper}}</td>
               <td>{{x.estudiante.carrera|upper}}</td>
               <td>{{x.estudiante.estrato}}</td>
               <td>{{x.tipo_beneficio}}</td>
               <td>{{x.fecha_creacion|date:'d M Y'}}</td>
           </tr>
           {% endfor%}
         
       </tbody>
    
    </table>
    



</div>
</div>
          </div>
        </div>
 </div>
 

{% endblock %}