{% extends 'base.html' %}
{% load static %}
{% block title %}perfil{% endblock title %}

{% block content %}

<div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Perfil de usuario</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control" disabled="" placeholder="Username" value=" {{perfil.user.username|upper}}">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control"  placeholder="Email" value="{{perfil.user.email|upper}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" class="form-control" placeholder="First Name" value="{{perfil.user.first_name|upper}}">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" placeholder="Last Name" value="{{perfil.user.last_name|upper}}">
                      </div>
                    </div>
                  </div>
       
 
                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="{% static '/assets/img/bg5.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="{{perfil.foto.url}}" alt="...">
                    <h5 class="title">{{perfil.user.first_name|upper}} {{perfil.user.larst_name|upper}}</h5>
                  </a>
             
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>

{% endblock %}