{% extends 'base.html' %}
{% load static %}
{% block title %}registro{% endblock title %}

{% block content %}

<div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Registrar Personal</h5>
              </div>
              <div class="card-body">
                <form method="POST">{% csrf_token %}
                  {{formuser.as_p}}
                  {{formpersonal.as_p}}
                     <div class="col-md-4 px-1">
                       <div class="button-container">
                        <input type="submit" class="btn btn-primary" value="Registrar">
                       </div>
                     </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="{% static '/assets/img/bg5.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                    <h5 class="title">Mike Andrew</h5>
                  </a>
                  <p class="description">
                    michael24
                  </p>
                </div>
                <p class="description text-center">
                  "Lamborghini Mercy
                  <br> Your chick she so thirsty
                  <br> I'm in that two seat Lambo"
                </p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>

{% endblock %}