{% extends 'base.html' %}
{% load static %}
{% block title %}registro{% endblock title %}

{% block content %}

<div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Registrar Personal</h5>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                  {{formuser.as_p}}
                  {{formpersonal.as_p}}
                     <div class="col-md-4 px-1">
                       <div class="button-container">
                        <input type="submit" class="btn btn-primary" value="Registrar">
                       </div>
                     </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
        
            </div>
          </div>
        </div>
      </div>

{% endblock %}